.faq {
  background: #111;
  color: #fff;
  padding: 40px 0 55px 0;
  margin: 80px 0 0;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 75px;
  margin-top: 75px;

  p {
    margin: 15px auto;
    max-width: 800px;
    color: #aaa;
    border-bottom: 2px solid #333;
    padding-bottom: 20px;

    &:last-of-type {
      border: none;
      margin-bottom: 0;
    }

    strong {
      color: #555;
      font-weight: normal;
    }
  }

  h2 {
    font-weight: normal;
  }

  a, a:hover {
    color: #ffc136;
  }
}
